@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Signika+Negative:wght@500&display=swap');

.main {
  background-image: url("../src/images/bgwinter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3 {
  font-family: 'Agdasima', sans-serif;
  text-align: center;;
}


.body {
  display: flex;
  justify-content: center space-around;
  flex-direction: row;
  background-color: pink;
  height: 100%;
  width: 0 auto;
  border: solid red 2px;
  margin: 5em;
  align-items: stretch;
  flex-wrap: wrap;

}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center space-around;
  background-color: pink;
  height: 100%;
  width: 0 auto;
  border: solid red 2px;
  margin: 6em;
  align-items: stretch;
  flex-wrap: wrap;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

